# Ignore everything by default
**

# Allow only what's needed for the Odoo Docker image
!odoo/
!odoo.conf
!requirements.txt
!Dockerfile
!docker-compose.yml
!entrypoint.sh
!odoo-bin
!cleanup_old_db.sh
!README.md
!LICENSE
!.env.example

# Specific exclusions within allowed folders
**/.git
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv
**/venv
**/env
**/node_modules
**/odoo/data
**/odoo/filestore
**/odoo/sessions
**/.DS_Store
