# ==========================================
# Sysco Odoo Environment Configuration
# ==========================================

# Database Configuration
DB_USER=odoo
DB_PASSWORD=prospire@2@26
DB_NAME=prospire_hq

# Odoo Port
ODOO_PORT=8069

# Production Example:
# DB_USER=odoo
# DB_PASSWORD=prospire@2@26
# DB_NAME=prospire_hq
# ODOO_PORT=8069
